extends ../layouts/adminMenu
block content
    h1 Create Course Category 

    if errors
        each error in errors
            .alert.alert-danger= error

    .align-items-center
        form(action="/admin/createCourseCategory" method="POST")
            .form-group 
                label Code
                input.form-control(name="code", type='text', value= values ? values.code : '') 

                label Language
                input.form-control(name="language", type='text', value= values ? values.language : '') 

                label Trainer
                select.form-control(name="trainer")
                    option(selected='') Choose a trainer
                    each trainer in trainers
                        option= trainer.name


            button.btn.btn-success Create