extends ../layouts/adminMenu
block content

    h1 List Course Category
    table.table 
        tr 
            th Code
            th Language 
            th Trainer
            th Actions 
        each account in accounts
            tr
                td= account.code
                td= account.language
                td= account.trainer
                td
                    a.btn.btn-success(href='#') Update 
                    a.btn.btn-danger.ml-4(href='#') Delete 


    a.btn.btn-primary(href = '/admin/createCourseCategory') Create new Course Category 