extends ../layouts/trainerMenu
block content
    h1 Main Featured
    .card.mt-4
        .card-header
            | Featured
        .card-body
            h5.card-title Create acout
            p.card-text Add new accounts for staff, trainer and trainee
            a.btn.btn-primary(href='admin/createAccount') Go
    .card.mt-4
        .card-header
            | Featured
        .card-body
            h5.card-title Mangeger acount
            p.card-text View list of manager, employee, trainer and trainee accounts
            a.btn.btn-primary(href='admin/viewAccount') View


