extends ../layouts/staffMenu
block content
    h1 Main Featured
    .card.mt-4
        .card-header
            | Featured
        .card-body
            h5.card-title Mangeger account
            p.card-text View list of manager, employee, trainer and trainee accounts
            a.btn.btn-primary(href='staff/viewAccount') View
    .card.mt-4
            .card-header
                | Featured
            .card-body
                h5.card-title Manager Course Category
                p.card-text View list of Course Category, Create, delete and Update Course Category and Course
                a.btn.btn-primary(href='staff/viewCourseCategory') View

    .card.mt-4
            .card-header
                | Featured
            .card-body
                h5.card-title Manager Trainer
                p.card-text View list of Trainer with Course
                a.btn.btn-primary(href='staff/viewTrainer') View

