extends ../layouts/staffMenu
block content
    h1 Main Featured
    .card.mt-4
        .card-header
            | Featured
        .card-body
            h5.card-title Manager account
            p.card-text Add new accounts for trainer and trainee. It will can update and delete trainer and trainee
            a.btn.btn-primary(href='staff/createAccount') Go
    .card.mt-4
        .card-header
            | Featured
        .card-body
            h5.card-title Mangeger Course detail
            p.card-text View list of Course Category, and then add Course to Course Category
            a.btn.btn-primary(href='staff/viewAccount') View
    .card.mt-4
        .card-header
            | Featured
        .card-body
            h5.card-title Add trainer to course
            p.card-text View list Course and trainer, then we can edit it
            a.btn.btn-primary(href='staff/createAccount') Go


